<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
    <title>Admin part</title>
</head>
<header>
    <%- include('../partials/header'); %>        
</header>

<body>
    
    <h1>JE SUIS LA PARTIE ADMIN</h1>

</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>

